body{
  background: linear-gradient(#202020, black);
  background-attachment: fixed;
}

#root {
  width: 50%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.url {
  width: 90%;
}

p {
  width: 100%;
  text-align: left;
}

.moreInfo{
  color: inherit;
  font-weight: inherit;
  /* border: solid white; */
   border-radius: 10%;
}

.moreInfo:hover{
  color:black;
  background-color: white;
}
