body{
  background: linear-gradient(#202020, black);
  background-attachment: fixed;
}

#root {
  width: 50%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.url {
  width: 90%;
}

p {
  width: 100%;
  text-align: left;
}

.moreInfo{
  color: inherit;
  font-weight: inherit;
  /* border: solid white; */
   border-radius: 10%;
}

.moreInfo:hover{
  color:black;
  background-color: white;
}

.place{
  position: absolute;
  left:3%;
  user-select: none;
  z-index: 5;
  border-radius: 10%;
  background:black;
}

.place:hover{
  color: black;
  background: white;
}

.buttonLink{
  position:fixed;
  top: 1%;
  border: none;
  background:black;
  z-index: 10;
  border-radius: 10%;
}

.buttonLink:hover{
  background: white;
}
